.background-green-primary {
  background: #de982e;
  background: linear-gradient(
    180deg,
    rgba(222, 152, 46, 1) 0%,
    rgba(101, 140, 88, 1) 60%
  );
  position: relative;
}

.header-main {
  display: none !important;
}

.tree-icons-container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  border: 1px solid black;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
