:root {
  --noise-opacity: 0.03; /* soft */
  --noise-opacity: 0.05; /* normal */
  --noise-opacity: 0; /* off */
  --noise-opacity: 0.18; /* hard */
}

#bg-noise {
  position: fixed;
  inset: 0;
  background-image: url("./images/noise-1.png");
  background-repeat: repeat;
  opacity: var(--noise-opacity);
  pointer-events: none;
  z-index: 0;
}

.header-main {
  display: none !important;
}

.tree-icons-container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.base {
  border-radius: 50%;
  width: 2000px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 23px;
}

.hero_logo {
  padding: 50px;
  margin: 0 auto;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0.3, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes color_change_red {
  0% {
    background-color: #679a45;
  }
  50% {
    background-color: #f36b4b;
  }
  100% {
    background-color: #679a45;
  }
}

@keyframes color_change_yellow {
  0% {
    background-color: #de982e;
  }
  50% {
    background-color: #679a45;
  }
  100% {
    background-color: #de982e;
  }
}

.color_transition_yellow {
  animation: color_change_yellow 20s infinite;
  transition: color 10s ease;
  top: -184px;
}

.color_transition_red {
  animation: color_change_red 20s infinite;
  transition: color 10s ease;
}

.fade-out-element {
  transform-origin: bottom;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: fadeOut;
  animation-timing-function: linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(0.3);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}

.fade-in-element {
  transform-origin: bottom;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: fadeIn;
  animation-timing-function: linear;
}

.test-indicator {
  font-size: 8px;
  position: absolute;
  top: -29px;
}
