@import "tailwindcss";

@import "../app/devcat/devcat.css";
@theme {
  /* yellow */
  --color-bg-primary: #ffd700;
  /* black */
  --color-font-primary: #000000;
  /* /size:48px */
  --text-size-primary: var(--text-5xl);
  /* size:36px */
  --text-size-secondary: var(--text-4xl);
  /* size:16px */
  --text-size-ternary: var(--text-base);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
